/target
**/*.rs.bk
Cargo.lock.bak
.DS_Store
.env
*.log
/dist/
/oxide.toml
.oxide/sessions/
.oxide/memory/
.oxide/**/.DS_Store
**/.oxide/sessions/
**/.oxide/memory/
**/.oxide/checkpoints/
oxide-macos-arm64
**/.oxide/worktrees/
**/.oxide/screenshots/
**/.oxide/board.json
.oxide/worktrees/
.oxide/index/
**/.oxide/index/
.oxide/attachments/
**/.oxide/attachments/
